body {
    font-style: normal;
    font-size: normal;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    background-color: rgb(176, 209, 231) !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.container-fluid {
    align-items: center;
    text-align: center;
}

.nav-link {
    margin: 0 15px;
    text-align: center;
}

.navbar-nav {
    display: flex;
    margin: 0; 
    padding: 0; 
}

.nav-link:hover {
    color: rgb(62, 143, 236) !important;
}

.nav-item {
    margin: 0 15px; 
}

.navbar-brand {
    margin: 0 auto; 
    text-align: center; 
}

.navbar-toggler {
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgb(56, 56, 218);
}

.footer {
    background-color: rgb(56, 56, 218);
    margin-top: 5%;
}

.text-footer {
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.section_sobre, .section_problema, .section_ods6 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.section_sobre {
    padding-top: 3%;
}

.section_download {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-bottom: 1%;
}

section p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.1rem;
}

.download {
    padding-top: 1%;
}

@media (max-width: 450px) {
    .navbar-toggler {
        display: none;
    }

    .nav-navbar {
        align-items: center;
        text-align: center;
    }

    section p {
        font-size: small;
    }

    .text-footer {
        font-size: small;
    }

    .download {
        width: 20% !important;
    }

    .ods-6 {
        text-align: center;
    }

    .ods6 {
        width: 60% !important;
        padding-top: 5%;
    }

    #txt_ods {
        font-size: small !important;
    }
}

@media (max-width: 1080px) {
    .ods-6 {
        text-align: center;
    }

    .ods6 {
        width: 60% !important;
        padding-top: 5%;
    }
}