#cps {
    width: 15%;
    margin-top: 5%;
}

#mcm {
    width: 10%;
}

.nav-link {
    margin-right: 35px; 
}

.navbar-nav {
    padding-right: 70px;
}

.nav-link:hover {
    color: rgb(62, 143, 236) !important;
  }

.navbar-brand {
    padding-left: 70px;
}

.navbar {
    background-color: rgb(56, 56, 218);
}

.footer {
    background-color: rgb(56, 56, 218);
}


